/* body {
  background-color: #eeecde;
  width: 100%;
  height: 100vh; 
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center; 
  align-items: center;
  
} */

.page{
  display: flex;
  justify-content: center; 
  align-items: center;
}

.colorContainer {
  width: 500px;
  height: 80vh;
  border: 2px solid black;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
  border-radius: 25%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; 
  
}

.label {
  display: inline-block;
}

/* .choose {
  margin-top: 20px;
} */

.colorInput {
  width: 100px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid black;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5%;
  cursor: pointer;
  box-sizing: border-box;
}
.colorInput:active {
  background-color: #666;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  margin: 15px;
}

.colorPreview {
  margin-top: 20px;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
  border-radius: 25%;
  margin-bottom: 20px;
  display: inline-block;
  display: flex;
  justify-content: center;
}

.p {
  color: white;
  line-height: 200px;
  text-align: center;
}

.resetButton {
  border-radius: 25px;
  padding: 20px;
  width: 150px;
  height: 50px;
  padding: 10px 20px;
  margin: 30px;
  background-color: #fdccf5;
  color: #343a40;
  border: 1px solid #343a40;
  cursor: pointer;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.10);
  
}

.counterTitle{
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}
.resetButton:hover {
  cursor: pointer;
}
 .resetButton:active {
  background-color: #f096e1;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
 }