body {
    background-color: #EEECDE;
    max-width: 100%;
    min-height: 100vh;
     
}

.counterContainer{
    justify-items: center;
    height: 80vh;
}

button {
    border-radius: 25px;
    padding: 20px;
    width: 150px;
    height: 50px;
    padding: 10px 20px;
    margin: 30px;
    background-color: #fdccf5;
    color: #343a40;
    border: 1px solid #343a40;
    cursor: pointer;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.10);
}

.counterTitle{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}
button:hover {
    cursor: pointer;
}
button:active {
    background-color: #f096e1;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}