
body {
    background-color: #EEECDE;
    margin: 0;
    padding: 0;
    font-family: 'Allura', cursive;
    color: #343a40;
  }

  .navFooter {
    background-color: #343a40;
    color: white;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    font-family: 'Allura', cursive;
    text-decoration: none;
  }
  

  /* .allura-regular {
    font-family: "Allura", cursive;
    font-weight: 400;
    font-style: normal;
  } */