

  .footerLink {
    color: #343a40;
    width: 100%;
    z-index: 100;
    font-family: 'Allura', cursive;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}
.list {
    list-style-type: none;   
}

.footerLink a { 
    text-decoration: none;
    
}
  
  

  /* .allura-regular {
    font-family: "Allura", cursive;
    font-weight: 400;
    font-style: normal;
  } */