/* body{
  background-color: #eeecde;
  width: 100%;
  height: 100vh; 
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center; 
  align-items: center;
} */

  .footerLink {
    color: #343a40;
    width: 100%;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}
.list {
    list-style-type: none;  
    display: flex; 
}

.footerLink a { 
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    
}
  
  

  /* .allura-regular {
    font-family: "Allura", cursive;
    font-weight: 400;
    font-style: normal;
  } */