
.navbar{
  max-width: 100%;
  overflow: hidden;
}

.navContainer{
  float: left;
    background-color: #EEECDE;
    padding: 10px;   
    max-width: 100%;
    
}

.navLink {
    color: #343a40;
    text-decoration: none;
    width: 100%;
    z-index: 100;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}
.list {
    list-style-type: none;
   
}

.navLink a { 
    text-decoration: none;
    
}

  /* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
  } */