
.headernavContainer {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  align-items: center;
  
}

.navbar {
  font-family: "Source Sans 3", sans-serif;
  display: flex;
  flex-wrap: wrap;
   
}

.list {
  display: flex;
  gap: 25px;

} 

.navLink {
  list-style: none;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 16px;
}
a {
  color: black; 
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: orange;
}

/* 
.navbar{
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navContainer{
  max-width: 1400px;
    display: flex;
    justify-content: space-between;
    background-color: #EEECDE;
    padding: 10px;   
    max-width: 100%;
    
}

.navLink {
    color: #343a40;
    text-decoration: none;
    width: 100%;
    z-index: 100;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}
.list {
    list-style-type: none;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    background-color: #EEECDE;
    padding: 10px;   
    
}

.navLink a { 
    text-decoration: none;
    
} */

  /* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
  } */