.Gallery {
  font-family: 'Lucida Sans', sans-serif;
  text-align: center;
  
}
/* Ramen runt bilderna */
.galleryContainer{
  max-width: 250px;
  max-height: 250px;
  border: 1px solid rgb(89, 88, 88);
  border-radius: 5%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.10);
  padding: 20px;
  margin: 10px;
  text-align: center;
  display: inline-block;
}

/* Bilder */
.galleryPic{
  width: 60%; 
  border-radius: 35%;
  margin-bottom: 10px;
}
